---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">

	<main class="min-h-90">
		<section class="flex flex-row min-h-90 mx-auto lg:w-[1120px] py-44 space-between">
		<section class="px-16 space-between"><h1 class="font-bold text-5xl title">¡Hola Mundo!</h1> <h1 class="text-black text-5xl font-bold">Soy Fran</h1> <h1 class="text-black text-5xl font-bold">Typescript </h1></section>
		<section  class="lg:w-[500px]" > 
	<h1 class="text-2xl text-gray-700">Soy Desarrollador web en tecnologías como JAVASCRIPT, React.js, Node.js, HTML, CSS. Con conocimiento en Firebase, Express, Next.js, Vercel, Heroku, Postgress, Dropbox, Airtable, Cloudinary, Contenful, Mapbox, Algolia, Excel.js, PdfKit, Moment.js. Documentación usando Postman. Control de Versiones en Github, GitLab y trabajando con metodologías Agiles (SCRUM)</h1>
</section>
</section>
	</main>
	<section class="flex flex-col w-full mx-auto lg:w-[1120px] h-[500px]">
		<h1 class="text-3xl text-black opacity-80 hover:text-red-600 font-bold cursor-pointer">About me</h1>
	
	</section>
	<section class="flex flex-col w-full mx-auto lg:w-[1120px] h-[500px]">
		<h1 class="text-3xl text-black opacity-80 hover:text-red-600 font-bold cursor-pointer">Proyects</h2>

	</section >
	<section class="flex flex-col w-full mx-auto lg:w-[1120px] h-[500px]">
		<h1 class=" text-3xl text-black opacity-80 hover:text-red-600 font-bold cursor-pointer">Contact</h2>
	</section>
</Layout>


<style>
	.title {
 
 animation: color 3s ease-in-out infinite;

}

  

@keyframes color {
 0%{
	color:rgb(0, 0, 0)
 }
50%{
	color: rgb(220 38 38)
}
100%{
	color:rgb(0, 0, 0)
}

}
 
</style>
