


<header class="flex justify-between items-center py-3 w-[1120px]">
    <a class="text-black opacity-80 hover:text-red-600 font-bold cursor-pointer" >Home</a>
    <nav class="flex flex-row gap-x-10 text-white">
      
        <a class=" text-black opacity-80 hover:text-red-600 font-bold cursor-pointer " href="/about">About</a>
        <a  class=" text-black opacity-80 hover:text-red-600 font-bold cursor-pointer" href="/proyects">Proyects</a>
        <a  class=" text-black opacity-80 hover:text-red-600 font-bold cursor-pointer" href="contact">Contact</a>

    </nav>
</header>